<!-- Start Footer Area -->
<footer class="footer-area bg-color3">
    <div class="footer-wrapper section-spacing bminus-30">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget wow fadeIn" data-wow-duration="1s">
                        <h5 class="footer-title heading-5">About AI Fabrix</h5>
                        <p>AI Fabrix is an enterprise-grade application and AI platform designed for regulated industries. It runs entirely inside your Azure tenant, ensuring full data ownership, security, and compliance.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget wow fadeIn" data-wow-duration="2s">
                        <h5 class="footer-title heading-5">Documentation</h5>
                        <ul class="footer-category list-inline">
                            <li><a href="/aifabrix-docs/docs/getting-started/quick-deploy/">Getting Started</a></li>
                            <li><a href="/aifabrix-docs/docs/background/platform-overview/">Platform Overview</a></li>
                            <li><a href="/aifabrix-docs/docs/architecture/miso-controller/">Architecture</a></li>
                            <li><a href="/aifabrix-docs/docs/api/miso-api/">API Documentation</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget wow fadeIn" data-wow-duration="3s">
                        <h5 class="footer-title heading-5">Company</h5>
                        <ul class="footer-category list-inline">
                            <li><a href="https://www.esystems.fi/en/about" target="_blank">About Us</a></li>
                            <li><a href="https://www.esystems.fi/en/agilenow-contact" target="_blank">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget wow fadeIn" data-wow-duration="4s">
                        <h5 class="footer-title heading-5">Sales and Support</h5>
                        <div class="footer-contact">
                            <p class="contact-item">
                                <i class="fa fa-phone" style="color: #1E3A8A; margin-right: 8px;"></i>
                                <a href="tel:+358103411100">+358 1034 11100</a>
                            </p>
                            <p class="contact-item">
                                <i class="fa fa-envelope" style="color: #1E3A8A; margin-right: 8px;"></i>
                                <a href="mailto:info@esystems.fi">info@esystems.fi</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget wow fadeIn" data-wow-duration="5s">
                        <h5 class="footer-title heading-5">Follow Us</h5>
                        <ul class="footer-socials list-inline">
                            {% if site.facebook %}
                                <li class="list-inline-item"><a href="{{site.facebook}}"><i class="fa fa-facebook"></i></a></li>
                            {% endif %}

                            {% if site.instagram %}
                                <li class="list-inline-item"><a href="{{site.instagram}}"><i class="fa fa-instagram"></i></a></li>
                            {% endif %}

                            {% if site.linkedin %}
                                <li class="list-inline-item"><a href="{{site.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="container">
            <div class="footer-copyright text-center">
                <p> &copy; Copyright {{ site.time | date: '%Y' }} eSystems Nordic Ltd.</p>
            </div>
        </div>
    </div>
    <a href="#" class="home-top"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
</footer>
<!-- End Footer Area -->